# This file prevents local dependencies, build artifacts, and sensitive files
# from being sent to the Docker daemon during the build process.

# Git and Docker files
.git
.gitignore
.dockerignore

# Local dependencies
node_modules

# Build artifacts and cache
.next
.cache
build
out

# Local environment files and logs
.env*
npm-debug.log*

# Editor and OS files
.vscode
.DS_Store
